/* css variables */
:root {
    --secondary: #ec8906;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
}

body {
    background-image: url(/img/t2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
    /*
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    */
}

h1 {
    font-size: 3rem;
    padding-bottom: 1.25rem;
}
ul {
    list-style: none;
}

button {
    background: var(--secondary);
    color: var(--light);
    padding: 1.15rem 1.1rem;
    text-transform: uppercase;
    font-size: 1.15rem;
    border: 0;
    border-radius: 5px;
}
.wrapper {
    background-image: var(--shadow);
    padding: 0 3rem;
}

/* navigation */
.navigation li {
    margin: 2rem;
    text-transform: uppercase;
}

.navigation li:hover {
    border-bottom: 2px solid var(--secondary);
}

.navigation li a {
    color: var(--light);
    text-decoration: none;
}

nav, .nav1, .nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: 0;
    padding: 0;
}

.nav1 li {
    align-self: flex-start;
}

.nav2 li {
    align-self: flex-end;
}

.parent1 li, .parent2 li, .parent3 li {
    display: none;
    top: 0;
}

.parent1 li:hover li{
    display: block;
}

/* main */
main {
    padding: 2rem 0 2rem 0;
}
.hero_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.hero_img img {
    width: 15%;
}

.hero_title {
    text-align: center;
}

.b2 {
    background: #48be38;
}

/* footer */
footer {
    display: flex;
    margin-bottom: 0;
}
.brand img {
    width: 10%;
}

.right {
    display: flex;
    padding-left: 3rem;
    align-self: baseline;
}
 .app button {
    background: var(--dark);
 }